.container-fluids{
    width: 650px;
   height: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #fff;
    color: #258640;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
    box-shadow: 5px 5px 70px rgb(0, 0, 0);
}
.container-fluids hr{
    height: 2px;
    border: none;
    background: #707070;
}
.container-fluids h2{
    font-size: 22px;
    font-weight: 500;
    margin: auto;
}
.container-fluids ul li {
   
    display: flex;
    align-items: center;
    height: 50px;
   padding-left: 15px;
    border: 1px solid gray;
    margin-bottom: 20px;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

.i{
    background-color: #00bd36;
    color: aliceblue;
    font-size: 27px;
   
    
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.i:hover{
    border: 2px solid green;
}
.container-fluids .win{
    background-color: #27e30ad5;
    border-color: #00bd36;
    box-sizing: 2px;
    color: white;
}
.container-fluids .fail{
    background: #fd0e0ed1;
    border-color:rgba(235, 61, 61, 0.909) ;
    color: white;
}
.question{
    text-align: justify;
    
    padding-left: 38px;
}